[package]
name = "rrt"
version = "0.1.0"
authors = ["Jean-Francois Roy <jf@devklog.net>"]
edition = "2018"

[dependencies]
rand = "^0.6"
nalgebra = "0.18.0"
nalgebra-glm = "0.4.0"
image = "0.21.0"
rayon = "1.0.3"
palette = "0.4.1"
